@model IEnumerable<AttentanceManagementSystem.Models.AttendenceModelView>
@using AttentanceManagementSystem.Models;
@{
    ViewBag.Title = "MonthlyReportForSpecifEmp";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] month = new string[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"};
    SelectList monthsList = new SelectList(month, 12);



    List<SelectListItem> empList = new List<SelectListItem>();

    foreach (var item in Session["Emp"] as List<ApplicationUser>)
    {
        empList.Add(new SelectListItem() { Value = item.Id, Text = item.FirstName + " " + item.LastName });
    }
}

<h2>Monthly Report For All Employees</h2>
<div>
    @Html.Label("Months")
    @Html.DropDownList("Months", monthsList, "Select Month" , new { id = "ddlMonths" })

   
</div>

<div>
    @Html.Label("Emp");
    @Html.DropDownList("Employees", empList, "Select Employee", new { id = "ddlEmp" })
</div>


<div id="div">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Absence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Late)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Absence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Late)
                </td>


            </tr>
        }

    </table>
</div>

@section scripts{
    <script>
        let monthId = 0,
            empId = 0;



       //ddl For Months
        $("#ddlMonths").on("change", (value) => {
            if (value.target.selectedIndex == 0) {
                monthId = 0;
            } else {
                monthId = value.target.selectedIndex;

            }
            console.log("MonthId: ", monthId);

            getReport();

        });

        //ddl For Emp
        $("#ddlEmp").on("change", (value) => {
            console.log(value.target.selectedIndex)
            if (value.target.selectedIndex == 0) {
                empId = 0;
            } else {
                empId = value.target.value;

            }
            console.log("EmpId: ", empId);

            getReport();

        });



        function getReport() {
            $.ajax({
                //url: "/Report/MonthlyReportForSpecifEmpByMonth?monthId=" + monthId + "&empId=" + empId,
                url: "/Report/MonthlyReportForSpecifEmpByMonth?monthId=" + monthId + "&empId=" + empId,

                type: "Get",
                success: function (data) {
                    console.log("done", data);
                    if (empId != 0 && monthId == 0) {
                        var result = "<table  class='table'><th>Month</th><th>Attendence</th><th>Absence</th><th>Late</th>";

                    } else {
                        var result = "<table  class='table'><th>Name</th><th>Attendence</th><th>Absence</th><th>Late</th>";

                    }
                    $.each(data, function (index, value) {
                        result += "<tr><td>" + value.UserId + "</td><td>" + value.Attendence
                            + "</td><td>" + value.Absence + "</td><td>" + value.Late;



                    });
                    result += "</table>";
                    $("#div").html(result);
                }
            })// Ajax
        }
    </script>

}
